
subscription_id     = "00000000-0000-0000-0000-000000000000"
location            = "Central India"
resource_group_name = "rg-devops-starter"
app_service_plan_name = "asp-devops-starter"
webapp_name         = "devops-starter-webapp-yourinitials"
sku_name            = "B1"
